.table {   
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.table-header {
	border-bottom:1px solid gray;
	background:#0775d3;
	margin-bottom: 22px;
	padding:10px;
	color: #FFFFFF;
	text-align:center;
}

.table-odd-row {
	border-top:1px solid #FFFFFF;
	background:#D2DEEF;
	text-align:left;
}
 
.table-even-row {
	border-top:1px solid #FFFFFF;
	background:none repeat scroll 0 0 #EAEFF7;
	text-align:left;
}

.form {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
